body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin: 20px 0;
    height: 20px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #73BA1D;
}

#result {
    display: none;
    margin-top: 20px;
}

#generated-image {
    max-width: 100%;
    display: none;
}

#download-link {
    display: none;
    margin-top: 10px;
    text-decoration: none;
    color: #73BA1D;
}

#download-link:hover {
    text-decoration: underline;
}
