@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-BlackIta.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-BoldIta.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-HeavyIta.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-LightIta.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-MediumIta.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-RegularIta.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-ThinIta.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('../assets/fonts/Theinhardt-UltralightIta.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

body {
    font-family: 'Theinhardt';
    font-weight: normal;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:fit-content;
    box-sizing: border-box;
    /* min-width: 552px; */
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    text-align: left;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.mdc-button {
    display: inline-block;
    font-family: 'Theinhardt';
    font-size: 0.875rem;
    font-weight: normal;
    /* letter-spacing: 0.0892857em; */
    text-decoration: none;
    text-transform: uppercase;
    /* padding: 0 16px; */
    min-width: 64px;
    height: 40px;
    border-radius: 0;
    border: none;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.2s;
    margin-top: 8px;
    color: #fff;
    background-color: #73BA1D;
}

/* .mdc-button--raised {
    color: #fff;
    background-color: #73BA1D;
} */

.mdc-button:hover {
    background-color: #fff;
    border: 2px solid #73BA1D;
    color: #73BA1D;
}

.mdc-button--outlined {
    background-color: #fff;
    border: 2px solid #73BA1D;
    color: #73BA1D;
}

.mdc-button--outlined:hover {
    color: #fff;
    background-color: #73BA1D;
}

.image-placeholder {
    position: relative;
    width: 512px;
    height: 512px;
    border: 1px solid #ccc;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f9f9f9;
}

.spinner {
    display: none;
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top: 5px solid #73BA1D;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#generated-image {
    max-width: 100%;
    display: none;
}

#result {
    display: flex;
    flex-direction: column;
    display: none;
    /* width: 512px; */
    /* box-sizing: border-box; */
    /* margin-top: 20px; */
}

#generation-time {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* #download-button {
    display: inline-flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border: 2px #73BA1D;
    border-radius: 1px;
    color: #73BA1D;
} */

@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 10px;
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .mdc-button {
        width: 100%;
        box-sizing: border-box;
    }

    .image-placeholder {
        height: auto;
        aspect-ratio: 1/1;
    }

    #generated-image {
        max-width: 100%;
        height: auto;
    }
}
